langchain==0.3.7
langchain-core==0.3.63
langchain-community==0.3.7
ipykernel
python-dotenv
pypdf
beautifulSoup4
arxiv
pymupdf
numpy
pandas
wikipedia
langchain-text-splitters
langchain-openai 
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_huggingface 
huggingface_hub
streamlit
langchain_groq
langchain_core
duckduckgo-search 
